.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 5px;
    margin-bottom: 5px;

}

.flex-container > div {
    margin-right: 20px;
    text-align: left;
    width: 22%;
}

